<WingBlank [size]="'lg'">
  <Card style="margin-top: 40%;">
    <CardHeader [title]="'AMS'" [extra]="extra"
      [thumb]="'https://gw.alipayobjects.com/zos/rmsportal/MRhHctKOineMbKAZslML.jpg'" [thumbStyle]="thumbStyle">
      <ng-template #extra>
        <span>Cognizant</span>
      </ng-template>
    </CardHeader>
    <CardBody>
      <InputItem [clear]="true" [placeholder]="'请输入'" [focus]="autoFocus" [content]="'账号 '"  [(ngModel)]="user"></InputItem>
      <InputItem [clear]="true" [type]="'password'"  [(ngModel)]="passworld" [placeholder]="'请输入'" [focus]="inputFocus" [content]="'密码'">
      </InputItem>

    </CardBody>

  </Card>
  <div Button [type]="'primary'" style="margin-top: 10%;" (onClick)="login()">登录</div>
</WingBlank>